
#header-nav {
	background-color: grey;
}
#company-name{
	color:white;
}
li{

	text-align: center;
	/*border-bottom: 1px solid black;*/
}
ul{

	border:1px solid black;
	background-color: white;
}

h1{
	padding-top: 20px;
}
#menu-items{
	background-color: white;
	border:1px solid black;
	}

/*@media screen and (min-width: 992px) {
	
.navbar .dropdown {position:static;}
.navbar .dropdown-menu {
  width:100%;
  left:0;
  right:0;
  display:none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  color: blue;
}}*/
#content{
	background-color: grey;
}
#chicken-heading{
	text-align: center;
	text-decoration: bold;
	font-size:24px;
}

.text{
	font-size: 0.9em;
	padding:20px;
}
#columns{
	padding: 30px;
}

.navbar-toggler{
	margin-bottom: 10px;
}
#divider{border-color:black;}

/*
ul {
  margin: 0;
  padding: 0;
  border: 1px solid #555;
  background-color: white;
}
li a {
  display: block;
  padding: 8px 16px;
}

li:last-child {
  border-bottom: none;
}
